<li>
  <%= gravatar_for user%>
  <%= link_to user.username, user %>
  <% if user.admin? %>
  	| Administrator
  <% end %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
    | <%= link_to "Alter Role", :controller => "users", :id => user.id, :action => "alter_role", :method => :put%> 
  <% end %>
</li>