<% provide(:title, 'All users') %>
<% meta :description => "FOSS Nepal User",
        :keywords => "FOSS, Nepal, FOSS User" %>
<%= render 'layouts/forum' %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>