/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
  color: #fff;
}

.center p {
  color: #fff;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #999;
  text-decoration: none;
}

/* footer */

footer {
  background-color: #F5F5F5;
  text-align: center;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #000;
}

footer a {
  color: #0088cc;
}  

footer a:hover { 
  color: #005580;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.hero-unit{
  background-color: #311640;
}

.alert-info{
  color: #000;
}

.alert-info h4{
  color: #000;
}