<footer class="footer">
    <div class="container">
      <address>
        <strong>FOSS Nepal Community</strong><br>
        P. O. Box 19162<br>
        Kathmandu, Nepal<br>
        <abbr title="IRC Channel">IRC:</abbr> #foss-nepal on irc.freenode.net<br>
        <a href="mailto:info@fossnepal.org">info@fossnepal.org</a>
      </address>
      <p>Content is licensed under <%= link_to "GNU Free Documentation License", "http://www.gnu.org/copyleft/fdl.html", :target => "_blank" %>.</p>
      <ul class="footer-links">
        <li><%= link_to "Blog", "#" %></li>
        <li class="muted">&middot;</li>
        <li><%= link_to "Forum", forums_path %></li>
      </ul>
		</div>
</footer>