<% provide(:title, 'Forum') %>
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>FOSS Nepal Forum</h1>
    <p class="lead">Discussion related to FOSS Nepal Community</p>
  </div>
</header>

<div class="forum">
	<p class="lead">Please <%= link_to "Sign in", '#' %> or <%= link_to "Create a new account", signup_path %>.</p>
</div>